In [1]:
#import libraries

import pandas as pd
import os
from sklearn.metrics import confusion_matrix

In [2]:
link_to_data = 'https://raw.githubusercontent.com/SIT719/2020-S2/master/data/payment_fraud.csv'
dfp = pd.read_csv(link_to_data, error_bad_lines=False)

/home/user/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3417: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
dfp

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
0,29,1,4.745402,paypal,28.204861,0
1,725,1,4.742303,storecredit,0.000000,0
2,845,1,4.921318,creditcard,0.000000,0
3,503,1,4.886641,creditcard,0.000000,0
4,2000,1,5.040929,creditcard,0.000000,0
...,...,...,...,...,...,...
39216,986,1,4.836982,creditcard,0.000000,0
39217,1647,1,4.876771,creditcard,377.930556,0
39218,1591,1,4.742303,creditcard,0.000000,0
39219,237,1,4.921318,creditcard,236.082639,0
39220,272,1,5.040929,paypal,0.000694,0

In [43]:
sum(dfp['label'] == 1)

560

In [45]:
sum(dfp['label'] == 0)

38661

In [29]:
df = pd.get_dummies(dfp, columns=['paymentMethod'])

In [30]:
df

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
0,29,1,4.745402,28.204861,0,0,1,0
1,725,1,4.742303,0.000000,0,0,0,1
2,845,1,4.921318,0.000000,0,1,0,0
3,503,1,4.886641,0.000000,0,1,0,0
4,2000,1,5.040929,0.000000,0,1,0,0
...,...,...,...,...,...,...,...,...
39216,986,1,4.836982,0.000000,0,1,0,0
39217,1647,1,4.876771,377.930556,0,1,0,0
39218,1591,1,4.742303,0.000000,0,1,0,0
39219,237,1,4.921318,236.082639,0,1,0,0
39220,272,1,5.040929,0.000694,0,0,1,0

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis=1), df['label'],
    test_size=0.33, random_state=17)

In [33]:
X_train

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
13272,4,1,4.886641,0.000000,1,0,0
22716,1554,1,4.461622,0.256944,0,0,1
30255,2,1,4.742303,1.840278,1,0,0
7676,2000,1,4.748314,0.584028,1,0,0
15105,157,1,5.017904,156.022222,1,0,0
...,...,...,...,...,...,...,...
31044,2000,1,4.921349,0.000000,0,1,0
25631,47,1,4.962055,0.000000,1,0,0
33174,2000,1,4.748314,0.000000,1,0,0
34959,82,1,4.745402,0.000000,1,0,0
10863,481,1,4.965339,0.000000,1,0,0

In [34]:
y_train

13272    0
22716    0
30255    0
7676     0
15105    0
        ..
31044    0
25631    0
33174    0
34959    0
10863    0
Name: label, Length: 26278, dtype: int64

In [35]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train, y_train)

LogisticRegression()

In [37]:
y_pred = clf.predict(X_test)

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
print(accuracy_score(y_pred, y_test))

1.0

In [40]:
print(confusion_matrix(y_test, y_pred))

[[12753     0]
 [    0   190]]